<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container" style="max-width: 500px; background: linear-gradient(80deg, gold, orange); background-clip: text; ">
        <h1 style="text-align: left; color: transparent; line-height: 1.3em; font-weight: 500; text-transform: capitalize; ">Access the testimonial management panel.</h1>
        <% if (message) { %>
            <div class="message error"><%= message %></div>
        <% } %>
        <form action="/admin/login" method="POST">
            <label for="username">Full Name</label>
            <input type="text" id="username" name="username" required placeholder="Please enter your admin username">

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required placeholder="Please enter your admin password">

            <button  style=" border-radius: 500px; margin-top: 1em; background:linear-gradient(80deg, gold, orange) ; text-transform: capitalize; width: 100%; color: #333; padding: 1em;" type="submit">Continue Login</button>
        </form>
        <div style="text-align: center; margin-top: 20px;">
            <a href="hudeen.netlify.app" style="font-style: italic; color:white; text-decoration: none; font-weight: 600;">← Back to Landing Page</a>
        </div>
    </div>
</body>
</html>
